P1/AlbertoEstepaP1.zip
P1/Cuestionario.odt
P1/Cuestionario.pdf
P1/Fotos memoria/
P1/memoria.odt
P1/memoria.pdf
notas p2
P2/memoria.odt
P2/Resultados/
P2/Pruebas/
P2/P2_AlbertoEstepa.zip
P2/image/
P2/imagenes.zip
P2/imagenes/
P2/lists/
P2/memoria.pdf
P2/p2parte3.py
P2/Cuestionario.odt
P2/Cuestionario.pdf
P2/cuestionario2_2019.pdf
P3/imagenes/
P3/notasP3
AYUDA/
